openapi: 3.0.3
info:
  title: Atomic Access Tokens Company API
  description: Representative OpenAPI description of Atomic's payroll and financial connectivity API (UserLink and PayLink). Atomic lets applications switch direct deposit, verify income and employment, retrieve payroll data, and update payment methods on file through user-permissioned access. The Transact SDK is an embedded, hosted front-end launched with a publicToken that drives deposit, verify, and tax task workflows on top of these endpoints. This is a faithful, non-exhaustive representation authored by API Evangelist from public documentation, not an official Atomic artifact.
  termsOfService: https://atomicfi.com/legal
  contact:
    name: Atomic Support
    url: https://docs.atomicfi.com
  version: '1.0'
servers:
- url: https://api.atomicfi.com
  description: Production
- url: https://sandbox-api.atomicfi.com
  description: Sandbox
- url: https://pci.atomicfi.com
  description: Production PCI host (PayLink card data)
- url: https://sandbox-pci.atomicfi.com
  description: Sandbox PCI host (PayLink card data)
security:
- ApiKeyAuth: []
tags:
- name: Company
paths:
  /company/search:
    post:
      operationId: searchCompanies
      tags:
      - Company
      summary: Search companies
      description: Find employers or merchants supported for a given product.
      security:
      - ApiKeyAuth: []
      - PublicTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanySearchRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Company'
  /company/list:
    get:
      operationId: listCompanies
      tags:
      - Company
      summary: List companies
      parameters:
      - name: product
        in: query
        schema:
          type: string
          enum:
          - deposit
          - verify
          - tax
          - manage
      - name: scope
        in: query
        schema:
          type: string
          example: user-link
      - name: limit
        in: query
        schema:
          type: integer
          default: 100
      - name: skip
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Company'
  /company/{companyId}/details:
    get:
      operationId: getCompanyDetails
      tags:
      - Company
      summary: Get company details
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
components:
  schemas:
    Company:
      type: object
      properties:
        _id:
          type: string
        name:
          type: string
        status:
          type: string
        branding:
          type: object
        tags:
          type: array
          items:
            type: string
    CompanySearchRequest:
      type: object
      properties:
        query:
          type: string
        product:
          type: string
          enum:
          - deposit
          - verify
          - tax
          - manage
        scopes:
          type: array
          items:
            type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key sent in the x-api-key header, paired with the x-api-secret header. Used for backend-to-backend calls.
    PublicTokenAuth:
      type: apiKey
      in: header
      name: x-public-token
      description: Public token for permitted client-side requests.
