openapi: 3.0.3
info:
  title: Atomic Access Tokens API
  description: Representative OpenAPI description of Atomic's payroll and financial connectivity API (UserLink and PayLink). Atomic lets applications switch direct deposit, verify income and employment, retrieve payroll data, and update payment methods on file through user-permissioned access. The Transact SDK is an embedded, hosted front-end launched with a publicToken that drives deposit, verify, and tax task workflows on top of these endpoints. This is a faithful, non-exhaustive representation authored by API Evangelist from public documentation, not an official Atomic artifact.
  termsOfService: https://atomicfi.com/legal
  contact:
    name: Atomic Support
    url: https://docs.atomicfi.com
  version: '1.0'
servers:
- url: https://api.atomicfi.com
  description: Production
- url: https://sandbox-api.atomicfi.com
  description: Sandbox
- url: https://pci.atomicfi.com
  description: Production PCI host (PayLink card data)
- url: https://sandbox-pci.atomicfi.com
  description: Sandbox PCI host (PayLink card data)
security:
- ApiKeyAuth: []
tags:
- name: Access Tokens
paths:
  /access-token:
    post:
      operationId: createAccessToken
      tags:
      - Access Tokens
      summary: Create an access token
      description: Exchanges your API Key and Secret for a publicToken used to initialize the Transact SDK on the client. Called from your backend.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccessTokenRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenResponse'
  /access-token/{publicToken}/revoke:
    put:
      operationId: revokeAccessToken
      tags:
      - Access Tokens
      summary: Revoke an access token
      description: Invalidates an existing publicToken so it can no longer access API resources.
      parameters:
      - $ref: '#/components/parameters/PublicTokenPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResult'
components:
  schemas:
    SuccessResult:
      type: object
      properties:
        result:
          type: object
          properties:
            success:
              type: boolean
        success:
          type: boolean
    AccessTokenResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            publicToken:
              type: string
    CreateAccessTokenRequest:
      type: object
      required:
      - identifier
      properties:
        identifier:
          type: string
          description: Your unique identifier for the end user.
        tokenLifetime:
          type: integer
          description: Lifetime of the returned publicToken in seconds.
          example: 86400
  parameters:
    PublicTokenPath:
      name: publicToken
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key sent in the x-api-key header, paired with the x-api-secret header. Used for backend-to-backend calls.
    PublicTokenAuth:
      type: apiKey
      in: header
      name: x-public-token
      description: Public token for permitted client-side requests.
