openapi: 3.2.0
info:
  title: Atomic Linked Accounts API
  description: Representative OpenAPI description of Atomic's payroll and financial connectivity API (UserLink and PayLink).
  termsOfService: https://atomicfi.com/legal
  contact:
    name: Atomic Support
    url: https://docs.atomicfi.com
  version: '1.0'
servers:
- url: https://api.atomicfi.com
  description: Production
- url: https://sandbox-api.atomicfi.com
  description: Sandbox
- url: https://pci.atomicfi.com
  description: Production PCI host (PayLink card data)
- url: https://sandbox-pci.atomicfi.com
  description: Sandbox PCI host (PayLink card data)
security:
- ApiKeyAuth: []
tags:
- name: Linked Accounts
paths:
  /task-workflow/from-linked-account:
    post:
      operationId: createTaskWorkflowFromLinkedAccount
      tags:
      - Linked Accounts
      summary: Start a task workflow from a linked account
      description: Runs deposit, verify, or tax tasks against an already-connected linked account without re-authenticating the user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskWorkflowFromLinkedAccountRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskWorkflowResponse'
  /linked-account/list/{identifier}:
    get:
      operationId: listLinkedAccounts
      tags:
      - Linked Accounts
      summary: List linked accounts
      parameters:
      - $ref: '#/components/parameters/IdentifierPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LinkedAccount'
components:
  parameters:
    IdentifierPath:
      name: identifier
      in: path
      required: true
      description: Your unique identifier for the end user.
      schema:
        type: string
  schemas:
    Task:
      type: object
      properties:
        _id:
          type: string
        status:
          type: string
          enum:
          - queued
          - processing
          - completed
          - failed
        product:
          type: string
        authentication:
          type: string
        company:
          $ref: '#/components/schemas/Company'
        payrollDataAvailable:
          type: boolean
        createdAt:
          type: string
          format: date-time
    TaskDefinition:
      type: object
      properties:
        operation:
          type: string
          enum:
          - deposit
          - verify
          - tax
        onComplete:
          type: string
          enum:
          - continue
          - finish
        onFail:
          type: string
          enum:
          - continue
          - finish
        distribution:
          type: object
          properties:
            type:
              type: string
              enum:
              - total
              - fixed
              - percent
            amount:
              type: number
    LinkedAccount:
      type: object
      properties:
        _id:
          type: string
        valid:
          type: boolean
        company:
          $ref: '#/components/schemas/Company'
        lastSuccess:
          type: string
          format: date-time
        lastFailure:
          type: string
          format: date-time
    TaskWorkflowResponse:
      type: object
      properties:
        task:
          $ref: '#/components/schemas/Task'
        taskWorkflow:
          type: string
    Company:
      type: object
      properties:
        _id:
          type: string
        name:
          type: string
        status:
          type: string
        branding:
          type: object
        tags:
          type: array
          items:
            type: string
    TaskWorkflowFromLinkedAccountRequest:
      type: object
      required:
      - linkedAccount
      - tasks
      properties:
        linkedAccount:
          type: string
        tasks:
          type: array
          items:
            $ref: '#/components/schemas/TaskDefinition'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key sent in the x-api-key header, paired with the x-api-secret header. Used for backend-to-backend calls.
    PublicTokenAuth:
      type: apiKey
      in: header
      name: x-public-token
      description: Public token for permitted client-side requests.
