openapi: 3.2.0
info:
  title: Atomic Users API
  description: Representative OpenAPI description of Atomic's payroll and financial connectivity API (UserLink and PayLink).
  termsOfService: https://atomicfi.com/legal
  contact:
    name: Atomic Support
    url: https://docs.atomicfi.com
  version: '1.0'
servers:
- url: https://api.atomicfi.com
  description: Production
- url: https://sandbox-api.atomicfi.com
  description: Sandbox
- url: https://pci.atomicfi.com
  description: Production PCI host (PayLink card data)
- url: https://sandbox-pci.atomicfi.com
  description: Sandbox PCI host (PayLink card data)
security:
- ApiKeyAuth: []
tags:
- name: Users
paths:
  /user:
    put:
      operationId: updateUser
      tags:
      - Users
      summary: Update a user
      description: Stores destination bank accounts or cards to present during a task workflow.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResult'
  /user/{identifier}/tasks:
    get:
      operationId: getUserTasks
      tags:
      - Users
      summary: Get a user's tasks
      parameters:
      - $ref: '#/components/parameters/IdentifierPath'
      - name: status
        in: query
        schema:
          type: string
      - name: payrollDataAvailable
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Task'
  /user/{identifier}/end-monitoring:
    put:
      operationId: endUserMonitoring
      tags:
      - Users
      summary: End monitoring for a user
      parameters:
      - $ref: '#/components/parameters/IdentifierPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResult'
components:
  parameters:
    IdentifierPath:
      name: identifier
      in: path
      required: true
      description: Your unique identifier for the end user.
      schema:
        type: string
  schemas:
    UpdateUserRequest:
      type: object
      required:
      - identifier
      properties:
        identifier:
          type: string
        data:
          type: object
          properties:
            bankAccounts:
              type: array
              items:
                type: object
            cards:
              type: array
              items:
                type: object
    Task:
      type: object
      properties:
        _id:
          type: string
        status:
          type: string
          enum:
          - queued
          - processing
          - completed
          - failed
        product:
          type: string
        authentication:
          type: string
        company:
          $ref: '#/components/schemas/Company'
        payrollDataAvailable:
          type: boolean
        createdAt:
          type: string
          format: date-time
    Company:
      type: object
      properties:
        _id:
          type: string
        name:
          type: string
        status:
          type: string
        branding:
          type: object
        tags:
          type: array
          items:
            type: string
    SuccessResult:
      type: object
      properties:
        result:
          type: object
          properties:
            success:
              type: boolean
        success:
          type: boolean
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key sent in the x-api-key header, paired with the x-api-secret header. Used for backend-to-backend calls.
    PublicTokenAuth:
      type: apiKey
      in: header
      name: x-public-token
      description: Public token for permitted client-side requests.
